<h2 mat-dialog-title>{{ isEditMode ? 'Editar Cliente' : 'Nuevo Cliente' }}</h2>

<mat-dialog-content [formGroup]="clientForm">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="apellido">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!clientForm.valid">
    {{ isEditMode ? 'Actualizar' : 'Crear' }}
  </button>
</mat-dialog-actions>
